{% extends "rankedify/template-page.html" %}

{% block title %} Friends {% endblock %}

{% block main-body %}
<section class="friends-container">

    <div class="friends-lists">
        <div class="friends-title rounded-tl">
            Friends
        </div>
    </div>

    <div class="friends">
        <ul>
            <li class="friends-entry">
                <span class="friends-friend">Example Name</span> 
            </li>
            <li class="friends-entry">
                <span class="friends-friend">Example Name2</span> 
            </li>
            <li class="friends-entry">
                <span class="friends-friend">Example Name3</span> 
            </li>
            <li class="friends-entry">
                <span class="friends-friend">Example Name4</span> 
            </li>
            <li class="friends-entry">
                <span class="friends-friend">Example Name5</span> 
            </li>
        </ul>
    </div>
</section>
{% endblock %}