{% extends "rankedify/template-page.html" %}

{% load staticfiles %}

{% block title %} Friends {% endblock %}

{% block extra-js %}
<script src="{% static 'js/search_bar_scripts.js' %}" type="module"></script>
{% endblock %}

{% block main-body %}
<div class="friends-page-content">
    <section class="user-table">

        <div class="friends-list">
            <div class="friends-title">
                Friends
            </div>
        </div>

        <div class="user-entries">
            <ul class="user-entries">
                {% if friends|length > 0 %}
                    {% for friend in friends %}
                        <li class="friends-entry">
                            <span class="user-entry">{{ friend }}</span>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="friends-entry">
                        <span class="user-entry">Example Name</span> 
                    </li>
                    <li class="friends-entry">
                        <span class="user-entry">Example Name2</span> 
                    </li>
                    <li class="friends-entry">
                        <span class="user-entry">Example Name3</span> 
                    </li>
                    <li class="friends-entry">
                        <span class="user-entry">Example Name4</span> 
                    </li>
                    <li class="friends-entry">
                        <span class="user-entry">Example Name5</span> 
                    </li>
                {% endif %}
            </ul>
        </div>
    </section>


    <section class="user-table mt-12s">
        Find User <br>
        <input type="text" placeholder="Search..." id="user-search" class="leaderboard-search-box" />

    <div class="user-entries">
        <ul id="user-entries">
            {% if all_users|length > 0 %}
                {% for user in all_users %}
                    <li class="friends-entry">
                        <span class="user-entry"><a href="{% url 'rankedifyapp:view_profile' user.slug %}">{{ user.username }}</a></span> 
                    </li>
                {% endfor %}
            {% else %}
            <li class="friends-entry">
                <span class="user-entry">no current users</span> 
            </li>  
            {% endif %}
        </ul>
    </div>
    </section>
</div>
{% endblock %}