{% extends "rankedify/template-page.html" %}

{% load staticfiles %}

{% block title %} Home {% endblock %}

{% block extra-js %} 
<script src="{% static 'js/search_bar_scripts.js' %}" type="module"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% endblock %}

{% block main-body %}
<div class="page-splitter">
    <section class="leaderboard-container">
        
        <div class="leaderboard-search">
            User Search <input placeholder="search..." type="text" class="leaderboard-search-box" />
        </div>
        <div class="leaderboard">
            <div class="leaderboard-entry leaderboard-entry-title">
                <span class="leaderboard-position">Place</span> 
                <span class="leaderboard-username">Username</span> 
                <span class="leaderboard-listening-time">Listening Time (minutes)</span>
            </div>
            <ul class="non-user-entries"> 
                {% for profile in all_user_profiles %}
                    {% with forloop.counter  as i %}
                        <li class="leaderboard-entry">
                            <span class="leaderboard-position">#{{ i }}</span> 
                            <span class="leaderboard-username"> {{ profile.username }}</span> 
                            <span class="leaderboard-listening-time"> {{ profile.listening_minutes }} </span>
                        </li>
                    {% endwith %}
                {% endfor %}      
            </ul>

            {% if current_user_profile is not None %}
                <div class="leaderboard-user-entry">
                    <span class="leaderboard-position text-center"> <span class="text-center">You</span> <br> #543</span>
                    <span class="leaderboard-username"> {{ current_user_profile.username }} </span> 
                    <span class="leaderboard-listening-time"> {{ current_user_profile.listening_minutes }} </span>
                </div>
            {% endif %}
        </div>

        
    </section>

    <div class="page-seperator-line">
    </div>

    <canvas id="average_listening_time" class="graph">

    </canvas>
</div>

<script>
    const xValues = [50,60,70,80,90,100,110,120,130,140,150];
    const yValues = [7,8,8,9,9,9,10,11,14,14,15];
    
    new Chart("average_listening_time", {
      type: "line",
      data: {
        labels: xValues,
        datasets: [{
          fill: false,
          lineTension: 0,
          backgroundColor: "#1DB954",  // Spotify Green
          borderColor: "rgba(30, 215, 96, 0.8)", // Slightly transparent green border
          pointBackgroundColor: "#1DB954",
          pointBorderColor: "#fff",
          pointHoverBackgroundColor: "#fff",
          pointHoverBorderColor: "#1DB954",
          data: yValues
        }]
      },
      options: {
        legend: { display: false },
        scales: {
          yAxes: [{
            ticks: { min: 0},
            scaleLabel: {
              display: true,
              labelString: "listening time (minutes)"
            }
          }]
        }
      }
    });
    </script>
{% endblock %}