{% extends "rankedify/template-page.html" %}

{% block title %} Log-in {% endblock %}

{% block main-body %}
    <div class="login-and-create-account-form">
        <form method="post" action="{% url 'rankedifyapp:login' %}">
            {% csrf_token %}
            <div class="user-login">
                <div class="input-container">
                    <span class="input-title">
                        <label for="username">Username:</label>
                    </span>
                    <input class="text-field" id="username" name="username">
                </div>
                <div class="input-container">
                    <span class="input-title">
                        <label for="password">Password:</label>
                    </span>
                    <input class="text-field" id="password" name="password" type="password">
                </div>
            </div>
            <input class="button" type="submit" value="Log-in"/>
        </form>
        <a href="/rankedify/signup" class="link">Don't have account?</a>
    </div>
{% endblock %}
