{% extends "rankedify/template-page.html" %}

{% load staticfiles %}


{% block title %}
    Profile
    <script src="{% static 'js/spotify_script.js' %}" type="module"></script>
{% endblock %}

{% block main-body %}
    <div class="page-splitter">
        <div class="profile-content pl-[5%] w-[60%]">
            <div class="picture-and-friend flex gap-x-2">
                <img width="200" src="{% static 'images/alrighty-then.gif' %}"/>

                <button id="friend-button" onclick="toggleFriendButtonStatus(this)" class="h-10 bg-zinc-950 text-white semi-bold p-2 w-32">
                    Friend
                </button>      
            </div>

            <div class="mt-12">
                <div class="profile-info-container">
                    <span class="field-title">Username:</span>
                    <input class="text-field">
                </div>
                <div class="profile-info-container">
                    <span class="field-title">Spotify Username:
                        <span id="displayname"></span>
                    </span>
                    <input class="text-field">
                </div>
<!--                <div class="profile-info-container">-->
<!--                    <span class="field-title">Favourite Album:</span>-->
<!--                    <input class="text-field">-->
<!--                </div>-->
<!--                <div class="profile-info-container">-->
<!--                    <span class="field-title">Favourite Artist:</span>-->
<!--                    <input class="text-field">-->
<!--                </div>-->
                <div class="profile-info-container">
                    <span class="field-title">Favourite Song:</span>
                    <input class="text-field">
                </div>
<!--                <div class="profile-info-container">-->
<!--                    <span class="field-title">Devices:</span>-->
<!--                    <input class="text-field">-->
<!--                </div>-->
                <div class="profile-info-container">
                    <span class="field-title">Most Common Song Trait:</span>
                    <input class="text-field">
                </div>
                <div class="profile-info-container">
                    <span class="field-title">Top Songs Right Now:</span>
                </div>
            </div>
        </div>

        <div class="border-l">
        </div>
    
        <canvas class="max-w-[450px]" height="188" width="450">
    </div>

    <script> 
        function toggleFriendButtonStatus(friendButton) {
            let button_text = friendButton.textContent || friendButton.innerText;

            if (button_text == "Friend") {
                friendButton.textContent = "Unfriend"
                friendButton.innerText = "Unfriend"
            } else {
                friendButton.textContent = "Friend"
                friendButton.innerText = "Friend"
            }
        }
    </script>
{% endblock %}