{% extends "rankedify/template-page.html" %}

{% load staticfiles %}


{% block title %} Profile {% endblock %}

{% block main-body %}
    <div class="page-splitter">
        <div class="profile-content pl-[5%] w-[60%]">
            <div class="picture-and-friend flex gap-x-2">
                <img src="{% static 'images/alrighty-then.gif' %}"/>

                <button id="friend-button" onclick="toggleFriendButtonStatus(this)" class="h-10 bg-zinc-950 text-white semi-bold p-2 w-32">
                    Friend
                </button>      
            </div>

            <div class="mt-12">
                hello
            </div>
        </div>

        <div class="border-l">
        </div>
    
        <canvas class="max-w-[450px]" height="188" width="450">
    </div>

    <script> 
        function toggleFriendButtonStatus(friendButton) {
            let button_text = friendButton.textContent || friendButton.innerText;

            if (button_text == "Friend") {
                friendButton.textContent = "Unfriend"
                friendButton.innerText = "Unfriend"
            } else {
                friendButton.textContent = "Friend"
                friendButton.innerText = "Friend"
            }
        }
    </script>
{% endblock %}