<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <!--Include tailwind css-->
        <script src="https://cdn.tailwindcss.com"></script>
        
        <!--Include JQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <!--Links jquery script that applies styling to the appropiate elements-->
        <script src="{% static 'js/page_styling.js' %}"></script>

        <title>Rankedify - {% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav>
            <div id="logo">Rankedify</div>
            <a href="/rankedify/home"><div class="nav-item">Home</div></a>
            <a href="/rankedify/friends"><div class="nav-item">Friends</div></a>
            <a href="/rankedify/login"><div class="nav-item">Log in</div></a>
            <a href="/rankedify/profile"><div class="nav-item">Profile</div></a>
        </nav>

        <div id="page-body" class="h-full">
            {% block main-body %}
            {% endblock %}
        </div>
    </body>
</html>
</body>
</html>