<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <!--Include tailwind css-->
        <script src="https://cdn.tailwindcss.com"></script>
        
        <!--Include JQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <!--Adds tailwind styling onto elements-->
        <script src="{% static 'js/page_styling.js' %}"></script>

        <link rel="stylesheet" type="text/tailwindcss" href="style.css">


        <title>Rankedify - {% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav>
            <div id="logo">Rankedify</div>
            <a href="/home"><div class="nav-item">Home</div></a>
            <a href="/Friends"><div class="nav-item">Friends</div></a>
            <a href="/Log-in"><div class="nav-item">Log in</div></a>
        </nav>

        <div id="page-body">
            {% block main-body %}
            {% endblock %}
        </div>
    </body>
</html>
</body>
</html>