{% extends "rankedify/template-page.html" %}

{% load staticfiles %}

{% block extra-js %}

<script src={% static 'js/profile_scripts.js' %}></script>
    
<script>
    let username_var = "{{ username }}";
    let is_friend = "{{ is_friend }}"
</script>
    
<script src="{% static 'js/add_friend.js' %}"></script>
    
{%endblock%}

{% block title %}
    Profile
{% endblock %}

{% block main-body %}
    <div class="page-splitter">
        <div class="profile-content pl-[5%] w-[60%]">
            <div class="picture-and-friend flex gap-x-2">
                <img src="{{ MEDIA_URL }}{{ photo }}"
                     alt="User Avatar" />
                <button id="friend-button" onclick="toggleFriendButtonStatus(this)" class="h-10 bg-zinc-950 text-white semi-bold p-2 w-32">
                    {% if is_friend %}
                        Unfriend
                    {% else %}
                        Add Friend
                    {% endif %}
                </button>
            </div>

            <div class="mt-12">
                <div class="profile-info-container">
                    <span class="field-title">Username:</span>
                    <input class="text-field" value="{{ username }}" readonly>
                </div>
                <div class="profile-info-container">
                    <span class="field-title">Spotify Username:
                        <span id="displayname"></span>
                    </span>
                    <input class="text-field" value="{{ spotify_username }}" readonly>
                </div>
                <div class="profile-info-container">
                    <span class="field-title">Favourite Song:</span>
                    <input class="text-field" id="favourite-song" value="{{ favourite_song }}" readonly>
                </div>
            </div>
        </div>

        <div class="page-seperator-line">
        </div>

        <canvas class="max-w-[450px] mx-auto" height="188" width="450"></canvas>
    </div>
{% endblock %}